*{
	margin:0;
	padding: 0;
}

body{
	width:1225px;
	margin: 0 auto;
	text-align: center;
	
}

#wrap{
	
	
}

#title{
	font-size: 400%;
	color: wheat;
	padding-bottom: 20px;
	padding-top:20px;
    background: #2F4F4F;
}

.content{

}

#restart{
	padding-left: 4%;
	text-align: initial;
	float:left;
}

.header{
	background: #000000;
	color: white;
	width: 100%;
	font-size: 18px;
	padding-top: .8%;
	padding-bottom: .8%;
}

#instructions{
	padding-right: 4%;
	text-align: end;
}

.square{
	background: #564625;
    margin: 3%;
    height: 144px;
    width: 20%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.horizontal.squares{
	max-width: 100%;
	margin-top: 3%;
}

.row{
	display: flex;
	max-width: 100%;
	
}

.instruction{
	width: 100%;
	text-align: initial;
	margin-top: 20px;
	font-family: Arial;
}

h1{
	padding-bottom: 5px;
}