body {margin:0;}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}

#background {
    width: 100%; 
    left: 0px; 
    top: 0px; 
    z-index:-1; 
}

.stretch {
    width:100%;
}

.topic {

    font-size: 3rem;
    margin-left: 10em;
    font-style: italic;
    color: wheat;
}

.content{
    position: absolute;
    top: 85px;
}
.ikon{
    width:100px;
    padding-top: 24px;
    margin-left: 4em;    
}
.card{
    display: flex;
}
.head{
    font-size: 20px;
    padding-top: 3em;
    padding-left: 4em;
    color: wheat;
}

a link{
    color: wheat;
}

a hover{
    color: blue;
}

.query{
    float: right;
}