#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; 
}

.stretch {
    width:100%;
    height:100%;
}

#propic{
	padding-left: 42%;
	padding-top: 2%: 
}
.profile{
	 width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100px;
   background-size:contain;
  
   margin-top: 50px;
   z-index: 2;
}

.intro{
  text-align: center;
  color: red;
  position: absolute;
  top:270px;
  left:460px;
  box-sizing:border-box;
}

.description{
  color:red;
  position:absolute;
  font-size: 14px;
  top:375px;
  font-family: Arial;
}

.about_me{
  width: 100px;
  border-radius: 100px;
  padding: 75px;
}
.navbar{

  top: 100px;
  display: inline;
   width: 100px;
    height: 150px;
    border-radius: 100px;
   background-size:contain;
}
